<html>
  <head>
    <title>Jon's Help Page</title>
  </head>
  <body>
<H1>Jon's Help Page</H1>
<H2>Git</H2>
<ul>
  <li>cd blog</li>
  <li>git add .</li>
  <li>git commit -m "write what you changed in here"</li>
  <li>git push origin master</li>
  <li>git push heroku master</li>
</ul>    
    <h2>Adding a new page</h2>
    <li>rails generate NewPageName</li>
    <li>update routes.rb to add :resource</li>
    
  </body>
</html>

