<h1>Welcome to my web site<h1>
<%= link_to "My Blog", controller: "posts" %>
<BR><a href="/help">click here if you need help to push code to heroku/need help to make new webpage on Nitrous.io</a>

<h2>This is Me!</h2>
<img src="https://trello-attachments.s3.amazonaws.com/53dcf4a2dd00a6616905a5f8/53dcf515f3961d7649b732fb/480x640/947e5bea55ec4c74360d83ed5f0f91fe/jon.png">